body {
	/*visual*/
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 100%;
	line-height: 130%;

	background-image: url("../images/background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h2 {
	/*position/size*/
	max-width: 600px;
	margin-top: 50px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	line-height: 120%;
	text-align: center;

	/*visual*/
	color: white;
	font-size: 230%;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;

	overflow: hidden;
	text-overflow: ellipsis;
}

.page {
	/*position/size*/
	min-height: 100vh;
	max-width: 1000px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;

	/*visual*/
	color: white;
	background-color: rgba(0, 0, 0, 0);
}



/*  MENU  */

#menu {
	/*position/size*/
	height: 110px;
	padding-top: 25px;

	/*visual*/
	background-color: rgba(0, 0, 0, 0);
}

#menu a {
	/*position/size*/
	line-height: 60px;

	/*visual*/
	color: white;
	font-size: 120%;
	letter-spacing: 3px;
	text-align: center;
	text-decoration: none;

	/*transition*/
	transition-duration: 0.3s;
	transition-property: letter-spacing;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#menu .left {
	/*position/size*/
	width: 200px;
	float: left;

	/*visual*/
	font-size: 200%;
	text-transform: uppercase;
}

#menu .left:hover {
	/*visual*/
	letter-spacing: 5px;

	/*transition*/
	transition-duration: 0.3s;
	transition-property: letter-spacing;
}

#menu .right {
	/*position/size*/
	width: 170px;
	margin-top: 5px;
	margin-left: 20px;
	line-height: 44px;
	float: right;

	/*visual*/
	background-color: rgba(0, 0, 0,0.2);
	color: white;
	font-variant: small-caps;
	font-weight: bold;

	border-style: solid;
	border-color: rgba(96, 163, 188,1.0);
	border-radius: 10px;
	border-width: 3px;

	/*transition*/
	transition-duration: 0.3s;
	transition-property: background-color, letter-spacing;
}

#menu .right:hover {
	/*visual*/
	background-color: rgba(96, 163, 188,1.0);
	letter-spacing: 4px;

	/*transition*/
	transition-duration: 0.3s;
	transition-property: background-color, letter-spacing;
}

@media all and (max-width: 500px) {
	h2 {
		/*position/size*/
		font-size: 160%;
	}

	#menu {
		/*position/size*/
		height: 170px;
	}

	#menu .right, #menu .left{
		/*position/size*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}



/*  DISCUSSION / FORM  */

#sec_form {
	/*position/size*/
	margin-top: 100px;
	margin-bottom: 25px;
}

form {
	/*position/size*/
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#form, #bloc_discu {
	/*position/size*/
	max-width: 500px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;

	/*visual*/
	background-color: rgba(0, 0, 0,0.2);

	border-style: solid;
	border-color: rgba(60, 99, 130,1.0);
	border-radius: 10px;
	border-width: 5px;

	overflow: hidden;
	text-overflow: ellipsis;
}

#bloc_discu {
	/*position/size*/
	max-width: 900px;
	margin-bottom: 20px;
}

#old_mess {
	/*position/size*/
	margin-bottom: 20px;
}

input::placeholder {
	/*visual*/
	color: rgba(200, 200, 200, 1.0);
}

input:focus::placeholder {
	/*visual*/
	color: white;
}

input[type=text], input[type=password] {
	/*position/size*/
	width: 100%;
	line-height: 60px;

	/*visual*/
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: 130%;
	font-weight: bold;
	letter-spacing: 1px;

	border: none;
	outline: none;
	cursor: default;
}

input[type=checkbox] {
	/*position/size*/
	height: 25px;
	width: 25px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;

	/*visual*/
	outline: none;
	cursor: default;
}

#form a {
	/*position/size*/
	line-height: 46px;

	/*visual*/
	color: rgba(200, 200, 200, 1.0);
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 1px;
}

#form a:hover {
	/*visual*/
	color: white;
}

select {
	/*position/size*/
	max-width: 100%;
	padding: 10px;
	margin-top: 10px;

	/*visual*/
	background-color: rgba(0, 0, 0, 0);
	color: rgba(200, 200, 200, 1.0);
	outline: none;

	font-size: 110%;
	font-weight: bold;
	letter-spacing: 1px;

	border-width: 3px;
	border-radius: 10px;
	cursor: pointer;
}

input[type=submit] {
	/*position/size*/
	width: 100%;
	padding: 10px;
	margin-top: 20px;

	/*visual*/
	background-color: rgba(60, 99, 130,1.0);
	color: white;

	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 130%;

	border: none;
	border-radius: 10px;

	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;

	/*transition*/
	transition-duration: 0.3s;
	transition-property: background-color;
}

input[type=submit]:hover {
	/*visual*/
	background-color: rgba(96, 163, 188,1.0);

	/*transition*/
	transition-duration: 0.3s;
	transition-property: background-color;
}